
body{
  font-family: Poppins;
  color:#ffffff; 
  background-color: #ffffff;
  background-image: url(medical.jpg);
  background-size: cover;
}
 #survey-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 2rem;
  padding-bottom: 3rem;
 }
 #survey-form{
  background-color: #364E4E99;
  padding: 2rem 6rem;
  border-radius: 1rem;
  max-width: 100%;
 }
.header {
  font-size: 2rem;
  text-align: center;
}
.sub-header{
 font-size: 1rem;
 padding: 0.5rem 0rem;
}
input[type="text"]{
  font-size: 1.0rem;
  width:100%;
  border:2px solid #ccc;
  background-color: #fff;
  box-sizing: border-box;
  padding: 8px 20px;
}
input[type="email"]{
  font-size: 1.0rem;
  width:100%;
  border:2px solid #ccc;
  background-color: #fff;
  margin: 6px 0;
  box-sizing: border-box;
  padding: 8px 20px;
}
input[type="number"]{
  font-size:1.0rem;
  width: 100%;
  border:2px solid #ccc;
  background-color: #fff;
  margin: 6px 0;
  box-sizing: border-box;
  padding: 8px 20px;
}
input[type="submit"] {
  background-color:  #d5f4e6;
  border-color:  #d5f4e6;
  color: #364E4E;
  font-size: 1.0rem;
}
#dropdown{
  font-size: 1.0rem;
  width:100%;
  border: 2px solid #ccc;
  background-color: #fff;
  margin: 6px 0;  
}
#text-box{
  background-color: #fff;
  font-size:1.0rem;
  width: 36rem;
}
#submit-button{
  background-color:  #d5f4e6;
  color: #364E4E;
  text-align: center;
  width:100%;
  border-radius: 0.5rem;
  width:25%;
}
#submit-button:active{
background-color: #a6c2b5 ;
}
@media only screen and (max-width: 850px) {
  #survey-form{
    padding: 2rem 4rem;
    max-width: 50%;
   }
   .header {
    font-size: 1.5rem;
  }
  #submit-button {
    width: 50%;
  }
  #text-box{
    width: 14rem;
  }
}